# .github/workflows/main.yml

name: Main Workflow

on:
  push:
    branches:
      - main

jobs:
  backend_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8==6.0.0 flake8-isort==6.0.0
          pip install -r ./backend/requirements.txt

      - name: Test with flake8 and django
        run: |
          python -m flake8 backend/
          cd backend/
          python manage.py test

  build_backend_push_docker_hub:
    name: Push backend image to DockerHub
    runs-on: ubuntu-latest
    needs: [security-trivy]

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v4
        with:
          context: ./backend/
          push: true
          tags: iezek1il/t_backend:latest

  frontend_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up nodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          cd frontend/
          npm ci

      - name: Test frontend
        run: |
          cd frontend/
          npm run test

  build_frontend_push_dockerhub:
    name: Push frontend Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: [security-trivy]

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v4
        with:
          context: ./frontend/
          push: true
          tags: iezek1il/t_frontend:latest

  security-snyk:
    name: Security check with snyk
    runs-on: ubuntu-latest
    needs: [frontend_tests, backend_tests]

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - name: Set up nodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          npm install -g snyk
      - name: Run security check
        run: snyk code test || true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}

  security-trivy:
    name: Security with trivy
    runs-on: ubuntu-latest
    needs: security-snyk

    steps:
      - name: Checkout thr repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          apt install trivy
      - name: Scan filesystem with trivy
        run: |
          trivy fs .

  send_message:
    runs-on: ubuntu-latest
    needs: [build_backend_push_docker_hub, build_frontend_push_dockerhub]
    steps:
      - name: Send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit:
            Commit message: ${{ github.event.commits[0].message }}

            Repository: ${{ github.repository }}

            Деплой успешно выполнен!
